@(product: Product)

@import helper._
@import helper.twitterBootstrap._

@main("Product form") {
    <h1>Product Information</h1>
    <h2>@product.name</h2>

    <table class="table table-striped">
        <body>
            <table border="1" bordercolor="black" bgcolor="yellow" width="700" height="500">
                <caption>DETAIL PRODUCT</caption>
                <tr>
                    <th>Image</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Remain Product</th>
                </tr>
                <tr>
                    <td ><img src="@routes.Assets.at("images/labtop.png")" width="50" height="50" /></td>
                    <td>@product.description</td>
                    <td>@product.price</td>
                    <td>@product.remainProduct</td>
                </tr>

            </table>
        </body>
    </table>
    <a href="@routes.Products.edit(product)" class="btn btn-primary">Edit</a>
    <a href="@routes.Products.list()" class="btn btn-primary">Back</a>
}